<!-- This is the view for the action "INDEX" which came from "RecipesController" -->
<!-- All views for "RecipesController" must be put inside "RECIPES" folder then each view will have its own file. The name of this folder derived from Controller's Name -->
<!-- The extension of view file shoulb be "HTML.ERB" which means embedded ruby in an HTML file -->
<%= render "shared/page_title", title:"All Recipes" %>


<ul class="nav nav-tabs">
  <li class="Active">
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li>
    <%= link_to "Chefs", chefs_path %>
  </li>
</ul>


<!-- @RECIPES is called from RECIPES CONTROLLER -->
<!-- Do not use "=" in ruby opening tag in the loop -->
<!-- This is for pagination related to "PGINATION GEM". -->
<%= will_paginate %>
<% @recipes.each do |recipe| %>

<div class="row">
  
  <div class="col-md-2">
    
    <section class="chef_info center">
      <!-- Here we created a method(GRAVATAR_FOR). We will define it for our project inside "APPLICATION_HELPR" -->
      <!--This method receives 2 arguments (CHEF, SIZE) passed to it -->
      <%= link_to (gravatar_for recipe.chef, size:100), chef_path(recipe.chef) %>
      <h5>Chef name: <%= recipe.chef.chefname %></h5>
      
    </section>
  </div>
  
  <div class="col-lg-6 well">
   <!-- Here we want each recipe to be linked to its own page. To do that we use the method "RECIPE_PATH(OBJECT)". The object of the recipe we get it from the loop's iterator which is "RECIPE" in our loop. -->
   <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
   <p><%= recipe.summary %></p>
   <!-- here we want to show ingredients & styles related to the recipe. So we need to render them using a partial form calling them from INGREDIENTS & STYLES directories -->
   <!-- We want to show this only if the recipe has styles or ingredients -->
   <% if recipe.styles.any? %>
    <p>Styles: <%= render recipe.styles %></p>
   <% end %>
   <%if recipe.ingredients.any? %>
    <p>Ingredients: <%= render recipe.ingredients %></p>
   <% end %>
   <P>
     <!-- we need the date to appear with user-friendly format. So we will use a method (time_ago_in_words) -->
     <span class="quiet"><small>Created: <%= time_ago_in_words(recipe.created_at) %>  &nbsp |  </small></span>
     <span class="quiet"><small>  &nbsp Updated: <%= time_ago_in_words(recipe.updated_at) %></small></span>
   </P>
     <div class="pull-right">
        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total %>
        <% end %>
        &nbsp&nbsp&nbsp&nbsp <!-- This is 4 spaces in HTML -->
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.thumbs_down_total %>
        <% end %>
      </div>
  </div>
  <div class="col-md-4">
    <%= image_tag(recipe.picture.url, size:"250x150", class: "gravatar") if recipe.picture? %>
  </div>
  
</div>
<hr/>

<% end %>
<!-- Also at the bottom we need pages number -->
<%= will_paginate %>