<!DOCTYPE html>
<html>
<head>
  <title>MyRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<!-- we have separated our header in a separate file (partial form): _naivgation.html.erb and we call it here. We do not need to write it with underscore and its extension -->
<%= render "layouts/navigation" %>

<div class="container">
 <%= yield %>
<!-- also here we seperate footer then we call it from footer partial form -->
<%= render "layouts/footer" %>
</div>



</body>
</html>
